#
# (C) Copyright Resse Christophe 2021 - All Rights Reserved
# -----------------------------------------------------------------------------------------------
# All information contained herein is, and remains the property of
# Resse Christophe. and its suppliers, if any. The intellectual and technical
# concepts contained herein are proprietary to Resse C. and its
# suppliers and may be covered by U.S. and Foreign Patents, patents
# in process, and are protected by trade secret or copyright law.
#
# Dissemination of this information or reproduction of this material
# is strictly forbidden unless prior written permission is obtained from
# Resse Christophe (christophe.resse@gmail.com).
# -----------------------------------------------------------------------------------------------
name: Cherry Continuous Integration

on:
  push:
    branches: [ integrate, develop, main ]
  pull_request:
    branches: [ integrate, develop, main ]

jobs:

  build:
    name: Build with Java ${{ matrix.Java }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 17 ]

    steps:

      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK ${{ matrix.Java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.Java }}
          distribution: adopt

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Setup Maven settings.xml
        uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: |
            [{
                "id": "github-ressec-maven-registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_TOKEN }}"
            },
            {
                "id": "github-hemajoo-commerce-maven-registry",
                "username": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}",
                "password": "${{ secrets.READ_MAVEN_REGISTRY_GITHUB_USER }}"
            }]

      - name: Build with Maven
        run: mvn -B clean package -f cherry-backend-parent/pom.xml -Pjava-${{ matrix.Java }} -Pcherry-postgres-dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  codeql:
    name: CodeQL analysis
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ java ]
        # https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring-code-scanning#changing-the-languages-that-are-analyzed

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: ${{ matrix.language }}

      # Step: Setup JDK
      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

      - name: Build project with Maven
        run: mvn -B -Dmaven.test.skip=true clean package -f cherry-backend-parent/pom.xml -Pjava-17 # Skip tests as a parallel build is done that runs the tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Perform CodeQL analysis for language ${{ matrix.language }}
        uses: github/codeql-action/analyze@v1

  sonar:
    name: Sonar analysis
    runs-on: ubuntu-latest
    needs: [ build ]

    steps:

      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Cache Sonar packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Analyze with SonarCloud
        run: mvn -B verify sonar:sonar -f cherry-backend-parent/pom.xml -Pjava-17 -Pcherry-postgres-dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  deploy:

    name: Deploy Snapshot Artifacts
    if: github.event.pull_request.base.ref == 'develop'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: [ build, codeql, sonar ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: adopt

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup Maven settings.xml
        uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: |
            [{
                "id": "github-ressec-maven-registry",
                "username": "${{ secrets.READ_GITHUB_MAVEN_USER }}",
                "password": "${{ secrets.READ_GITHUB_MAVEN_TOKEN }}"
            },
            {
                "id": "github-hemajoo-commerce-maven-registry",
                "username": "${{ secrets.DEPLOY_GITHUB_MAVEN_USER }}",
                "password": "${{ secrets.DEPLOY_GITHUB_MAVEN_TOKEN }}"
            }]

      - name: Info - Display branches references
        run: |
          echo 'GITHUB head branch reference >> ' ${GITHUB_HEAD_REF}
          echo 'GITHUB base branch reference >> ' ${GITHUB_BASE_REF}

      - name: Deploy Snaphot Artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn --batch-mode deploy -Dmaven.test.skip=true -f cherry-backend-parent/pom.xml -Pjava-17
